---
- name: Advanced Apache Configuration
  hosts: webservers
  become: yes
  vars:
    apache_port: 8080
    custom_config_dir: /etc/httpd/conf.d

  tasks:
    - name: Ensure Apache is installed
      yum:
        name: httpd
        state: present

    - name: Create custom Apache configuration
      copy:
        content: |
          Listen {{ apache_port }}
          <VirtualHost *:{{ apache_port }}>
              ServerName {{ inventory_hostname }}
              DocumentRoot /var/www/html
              ErrorLog logs/custom_error.log
              CustomLog logs/custom_access.log combined
          </VirtualHost>
        dest: "{{ custom_config_dir }}/custom.conf"
        backup: yes
      notify: validate apache

    - name: Create log directory
      file:
        path: /var/log/httpd/custom
        state: directory
        owner: apache
        group: apache
        mode: '0755'

    - name: Install additional packages
      yum:
        name:
          - mod_ssl
          - httpd-tools
        state: present

  handlers:
    - name: validate apache
      command: apachectl configtest
      notify: restart apache

    - name: restart apache
      systemd:
        name: httpd
        state: restarted

