---
- name: Advanced Password Configuration
  hosts: webservers
  become: yes
  vars:
    users_with_temp_passwords:
      - alice
      - bob
      - charlie

  tasks:
    - name: Install required packages for password management
      package:
        name:
          - passwd
          - shadow-utils
        state: present

    - name: Generate temporary passwords for users
      set_fact:
        temp_passwords: "{{ temp_passwords | default({}) | combine({item: lookup('password', '/dev/null length=12 chars=ascii_letters,digits')}) }}"
      loop: "{{ users_with_temp_passwords }}"
      tags: temp_passwords

    - name: Set temporary passwords
      user:
        name: "{{ item }}"
        password: "{{ temp_passwords[item] | password_hash('sha512') }}"
        update_password: always
      loop: "{{ users_with_temp_passwords }}"
      tags: temp_passwords

    - name: Create password file for reference
      lineinfile:
        path: /tmp/user_passwords.txt
        line: "{{ item }}: {{ temp_passwords[item] }}"
        create: yes
        mode: '0600'
      loop: "{{ users_with_temp_passwords }}"
      tags: temp_passwords

    - name: Configure password complexity requirements
      lineinfile:
        path: /etc/security/pwquality.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: yes
      loop:
        - { regexp: '^#?\s*minlen', line: 'minlen = 8' }
        - { regexp: '^#?\s*minclass', line: 'minclass = 3' }
        - { regexp: '^#?\s*maxrepeat', line: 'maxrepeat = 2' }
      tags: password_complexity
