---
- name: Configure Password Policies
  hosts: all
  become: yes
  vars:
    password_users:
      - username: security_admin
        full_name: "Security Admin"
        max_age: 90
        min_age: 1
        warn_age: 7
        expire_date: "2024-12-31"
      - username: contractor
        full_name: "External Contractor"
        max_age: 30
        min_age: 1
        warn_age: 5
        expire_date: "2024-06-30"

  tasks:
    - name: Ensure users exist
      user:
        name: "{{ item.username }}"
        comment: "{{ item.full_name }}"
        shell: /bin/bash
        password: "{{ 'defaultpass' | password_hash('sha512') }}"
        state: present
        createhome: yes
      loop: "{{ password_users }}"

    - name: Set password aging
      shell: |
        chage -M {{ item.max_age }} {{ item.username }}
        chage -m {{ item.min_age }} {{ item.username }}
        chage -W {{ item.warn_age }} {{ item.username }}
        chage -E {{ item.expire_date }} {{ item.username }}
      loop: "{{ password_users }}"
