---
- name: Install Apache web server
  dnf:
    name: httpd
    state: present
  become: yes

- name: Start and enable Apache
  service:
    name: httpd
    state: started
    enabled: yes
  become: yes

- name: Deploy index page
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: root
    group: root
    mode: '0644'
  notify: Restart Apache
  become: yes

- name: Deploy virtual host configuration
  template:
    src: vhost.conf.j2
    dest: /etc/httpd/conf.d/vhost.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart Apache
  become: yes

