---
- name: Install and Configure MariaDB
  hosts: dbservers
  become: yes

  tasks:
    - name: Install MariaDB
      yum:
        name:
          - mariadb-server
          - mariadb
        state: present

    - name: Start and enable MariaDB
      service:
        name: mariadb
        state: started
        enabled: yes
