---
- name: Install and Configure Apache Web Server
  hosts: webservers
  become: yes

  vars:
    http_port: 80
    document_root: /var/www/html

  tasks:
    - name: Install Apache
      yum:
        name: httpd
        state: present
      tags: packages

    - name: Install extra tools
      yum:
        name:
          - curl
          - vim
        state: present
      tags: packages

    - name: Create index.html
      copy:
        content: |
          <html>
          <body>
          <h1>Hello from {{ inventory_hostname }}</h1>
          <p>Configured by Ansible</p>
          </body>
          </html>
        dest: "{{ document_root }}/index.html"
      tags: content

    - name: Configure Apache port
      lineinfile:
        path: /etc/httpd/conf/httpd.conf
        regexp: '^Listen '
        line: "Listen {{ http_port }}"
      notify: restart apache
      tags: configuration

    - name: Start and enable Apache
      service:
        name: httpd
        state: started
        enabled: yes
      tags: services

  handlers:
    - name: restart apache
      service:
        name: httpd
        state: restarted
